*{
    box-sizing: border-box;
}
body {
    background: #10101B;
    height: 100vh;
}
.container {
    margin-top: 30px;
}

.half-width {
    height: 570px;
    background: #222436;
    padding: 30px;
    text-align: center;
}
.generate-btn{
    margin-top: 140px;
    width: 180px;
    padding: 50px;
    border-radius: 50%;
    border: 8px solid #39458C;
    background-color: #495BC3;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}